
body{


margin:0;
font-family:'Poppins';
background:linear-gradient(135deg,#1a1a1a,#33001b);
color:white;
display:flex;
justify-content:center;
align-items:center;
margin:0;
font-family:'Poppins';
background:linear-gradient(135deg,#1a1a1a,#33001b);
color:white;

display:flex;
justify-content:center;

min-height:100vh;

overflow-x:hidden;
overflow-y:auto;

padding:20px;

}




.contenedor{

text-align:center;
background:rgba(255,255,255,0.05);
padding:40px;
border-radius:20px;
backdrop-filter:blur(10px);
width:400px;

}



h1{

color:#ff4d88;

}



#contador{

margin:15px;

}



button{

padding:12px 25px;
border:none;
border-radius:20px;
background:#ff4d88;
color:white;
cursor:pointer;
margin:10px;

}



.galeria{

display:flex;
gap:10px;
justify-content:center;

}



.galeria img{

width:100px;
height:140px;
object-fit:cover;
border-radius:15px;
transition:.5s;

}



.galeria img:hover{

transform:scale(1.2);

}



.carta{

margin-top:20px;

color:#ffd6e7;

max-height:300px;

overflow-y:auto;

padding-right:10px;

text-align:left;

}




.corazones span{

position:absolute;
animation:caer 10s linear infinite;

}



@keyframes caer{

0%{transform:translateY(-100px);}
100%{transform:translateY(100vh);}

}

@media(max-width:600px){

.contenedor{

width:90%;

padding:20px;

}


.galeria img{

width:80px;
height:110px;

}


.carta{

max-height:400px;

}

}


/* PANTALLA INICIO */

.pantallaInicio{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:linear-gradient(135deg,#000000,#1a0010);

display:flex;

justify-content:center;
align-items:center;

z-index:9999;

}


.inicioCaja{

background:rgba(255,255,255,0.05);

padding:40px;

border-radius:20px;

text-align:center;

backdrop-filter:blur(10px);

}


.inicioCaja input{

padding:10px;

border:none;

border-radius:10px;

margin-top:10px;

width:200px;

}


.inicioCaja button{

margin-top:15px;

padding:10px 20px;

border:none;

border-radius:15px;

background:#ff4d88;

color:white;

cursor:pointer;

}


#error{

color:red;

margin-top:10px;

}


/* BIENVENIDA */

.bienvenida{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:black;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:9998;

opacity:0;

pointer-events:none;

transition:2s;

}


.bienvenida h1{

font-size:50px;

opacity:0;

animation: aparecerNombre 3s forwards;

}


.subBienvenida{

opacity:0;

animation: aparecerSub 3s forwards;

animation-delay:2s;

}


@keyframes aparecerNombre{

from{

opacity:0;
transform:translateY(50px);

}

to{

opacity:1;
transform:translateY(0);

}

}


@keyframes aparecerSub{

to{

opacity:1;

}

}
